scripts/BlockWorldTree.txt
policy_comparison*
object*
*_comp*
output*
results*
objects*
 # Ignore Python cache directories and files
__pycache__/
*.pyc
*.npy
transition_matrices.npy
*.txt
*.npz
*.mp4
*.png
